
.my-container {

  height: 100%;
}
.my-container-top {
  /* width: 100%;
  height: 40px;
  line-height: 40px;
  background: darkgrey;
  color: #fff; */
}
.my-container-main {
  /* display: flex;
  height: 100%; */
}
.my-container-content {
  background: #ccc;
  width: 100%
}
.my-container-login {
  height: 100%;
}